<footer class="page-footer grey">
  <div class="footer-copyright">
    <div class="container" align="center">
    &copy; <a class="grey-text text-lighten-3" href="http://materializecss.com">JeanValJean 2018</a>
    <% if(isAuthenticated === false) {%>
    <a href="/user/login" class="btn-flat small">Login</a>
    <% } %>
    <% if(isAuthenticated === true) {%>
     <a href="/user/logout" class="btn-flat">Logout</a>
     <% } %>
    </div>
  </div>
</footer>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>

</body>
</html>
