<footer class="page-footer light-blue">
  <div class="footer-copyright">
    <div class="container" align="center">
    &copy; <a class="grey-text text-lighten-3" href="http://materializecss.com">JeanValJean 2018</a>
    </div>
  </div>
</footer>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>

</body>
</html>
