<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>brookmatrix</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<div class="">
    <nav class="grey lighten-1" role="navigation">
      <div class="nav-wrapper container "><a id="logo-container" href="/" class="brand-logo"> <img src="../images/blogo3.jpg" alt=""> </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/wedding">Weddings</a></li>
          <li><a href="/lifestyle">Lifestle</a></li>
          <li><a href="/potrait">Potrait</a></li>
          <li><a href="/creativeArt">Creative Art</a></li>
          <li><a href="/beauty">Beauty</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav transparent">
            <h3><img width="100%" src="../images/blogo3.jpg" alt=""></h3>
          <li><a class="grey-text text-lighten-3" href="/wedding">Weddings</a></li>
          <li><a class="grey-text text-lighten-3" href="/lifestyle">Lifestle</a></li>
          <li><a class="grey-text text-lighten-3" href="/potrait">Potrait</a></li>
          <li><a class="grey-text text-lighten-3" href="/creativeArt">Creative Art</a></li>
          <li><a class="grey-text text-lighten-3" href="/beauty">Beauty</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
</div>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">BrookMatrix Photography</h1>
        <div class="row center">
            <h5 class="header col s12 grey-text ">Where Pictures Speak Art </h5>
            <a class="btn" href="/contact">Contact</a>
            <a class="btn" href="/about">About</a>
        </div>
        <br><br>
    </div>
</div>
<% if(success_msg) {%>
    <div class="alert-success">
        <%= success_msg %>
    </div>
<% } %>
<% if(error_msg) {%>
    <div class="alert-danger">
        <%= error_msg %>
    </div>
<% } %>
