<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>brookmatrix</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"> <img src="../images/blogo3.jpg" alt=""> </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Weddings</a></li>
          <li><a href="#">Lifestle</a></li>
          <li><a href="#">Potrait</a></li>
          <li><a href="#">Creative Art</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <h3>BrookMatrix</h3>
          <li><a href="#">Weddings</a></li>
          <li><a href="#">Lifestle</a></li>
          <li><a href="#">Potrait</a></li>
          <li><a href="#">Creative Art</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br><br>
        <h1 class="header center orange-text">Brookmatrix Photography</h1>
        <div class="row center">
          <h5 class="header col s12 grey-text text-lighten-3">Where Pictures Speak Art </h5>
        </div>
        <br><br>

      </div>
    </div>
