<%- include('../partials/head') %>
<div class="container mc">
    <div class="row">
        <div class="col m10 offset-m1">
            <% for(var potrait of potraits){ %>
                <div class="col m6">
                    <img width="100%" src="/uploads/potrait/<%=potrait.imageUrl%>" alt=""/>
                </div>
            <% } %>
        </div>
    </div>
</div>
<%- include('../partials/foot') %>
