/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body{
    background: #dbcbee;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
#index-banner{
    background: url('../images/bg.jpg') center no-repeat;
}
.address{
    font-family:fantasy;
}
.mc{
    margin-top: 30px;
}
.side-nav{
    background: light-blue;
}
.image{
    width: 450px;
    height: 450px;
    margin: 2px,2px, 2px, 2px;
}
.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  text-align: center;
}
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  text-align: center;
}
