<%- include('../partials/head') %>

<div class="container">
    <div class="col m8 0ffset-m2 s12">
        <div class="section">
            <div class="row">
                <div class="col s12 m8 offset-m2">
                  <div class="row">
                      <h3 class="light-blue-text" align="center">ABOUT BrookMatrix</h3>
                <p align="justify">Brookmatrix Photography is a luxury Brand that covers Wedding Photography,
                   Portraits, Events and Beauty/Editorial photography…
                   The Brand was founded by Jonah Ochi, an alumni of The Benue State University
                   in Makurdi
                    An Economist who believes in creativity and speaking through images
                    ‘’ A beautiful image is not captured when you know all the technical
                    aspects about what it takes to use a camera, but by your ability to capture
                    the moment as you try to reach out to your subject, looking into your viewfinder,
                     through the lens and through the subject’s heart. That Guarantee a beautiful image.’’ <br>
                    <span align="center">-Jonah Ochi, Brookmatrix Photography </span>
                </p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('../partials/foot') %>
