<%- include('../partials/head') %>

<div class="container">
    <div class="col m8 0ffset-m2 s12">
        <div class="section">
            <div class="row">
                <div class="col s12 m8 offset-m2">
                  <div class="row">
                      <div class="address" align="center">
                            <h4>Contact Information</h4>
                            <h6>No.10 Jos Street, Area 3 Garki Abuja FCT. Opposite Sharon Ultimate Hotel <br>
                                Call/whatsapp: 08069732226
                            </h6>
                        </div>
                        <form class="col s12" action="" method="POST">
                          <div class="row">
                              <div class="input-field col s6">
                              <input id="first_name" type="text" class="validate">
                              <label for="first_name">Name</label>
                              </div>
                                <div class="input-field col s6">
                                  <input id="last_name" name="email" type="text" class="validate">
                                  <label for="email">Email</label>
                                </div>
                              </div>
                              <div class="row">
                                  <div class="input-field col s12">
                                    <textarea id="textarea1" name="message" class="materialize-textarea"></textarea>
                                    <label for="message">Textarea</label>
                                  </div>
                              </div>
                              <button type="submit" class="waves-effect light-blue btn" name="button">Send
                                  <i class="material-icons right">send</i>
                              </button>
                          </form>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('../partials/foot') %>
