<%- include('../partials/head') %>


  <div class="container mc">
      <div class="col m10 offset-m1 s12">
      <div class="row center">
            <div class="col m6 s12">
                <div class="">
                    <a href=""> <img width="100%" class="image responsive-img" src="/images/creativeArt2.png" alt=""> </a>
                </div>
                <h5>Potraits</h5>
            </div>
            <div class="col m6 s12">
                <div class="">
                    <div class="">
                        <a href=""> <img width="100%" class="image responsive-img" src="/images/creativeArt1.png" alt=""> </a>
                    </div>
                    <h5>Creatit Arts</h5>
                </div>
            </div>
            <div class="col m6 s12">
                <div class="">
                    <div class="">
                        <a href=""> <img width="100%" class="image responsive-img" src="/images/Wedding.png" alt=""> </a>
                    </div>
                    <h5>Weddings</h5>
                </div>
            </div>
            <div class="col m6 s12">
                <div class="">
                    <div class="">
                        <a href=""> <img width="100%" class="image responsive-img" src="/images/BeautyShot.png" alt=""> </a>
                    </div>
                    <h5>Beauty Shots</h5>
                </div>
            </div>
          </div>
      </div>
  </div>
<%- include('../partials/foot') %>
