<%- include('../partials/head') %>

<!-- Carousel section -->
         <div class="container">
            <div class="row center-align">
                <div class="carousel">
                    <a class="carousel-item" href="#one!"><img src="/images/BMP_2426.jpg"></a>
                    <a class="carousel-item" href="#two!"><img src="/images/brookmatrix photography-5.jpg"></a>
                    <a class="carousel-item" href="#three!"><img src="/images/brookmatrix photography-29.jpg"></a>
                    <a class="carousel-item" href="#four!"><img src="/images/brookmatrix photography-155.jpg"></a>
                    <a class="carousel-item" href="#five!"><img src="/images/BMP_9532.jpg"></a>
                    <a class="carousel-item" href="#five!"><img src="/images/brookmatrix photography_-13.jpg"></a>
                </div>
            </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col l5 m8 offset-l1 offset-m2 s12 galry-grid">
                      <div class="card">
                          <div class="card-image waves-effect waves-block waves-light">
                             <a href="/potrait/1"><img height="500px" class="activator" src="/images/BMP_2603.jpg">
                                 <div class="agile-text agile-text-small2">
                                         <h4 class="center-align label"><em>Potrait</em></h4>
                                 </div>
                             </a>
                          </div>
                      </div>
                  </div>
                  <div class="col l5 m8 offset-l1 offset-m2 s12 galry-grid">
                      <div class="card">
                          <div class="card-image waves-effect waves-block waves-light">
                             <a href="/creativeArt/1"><img height="500px" class="activator" src="/images/Jpeg.jpg">
                                 <div class="agile-text agile-text-small2">
                                     <h4 class="center-align label">Creative Art</h4>
                                 </div>
                             </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
            <div class="container">
                <div class="row">
                    <div class="col m10 offset-m1 s12">
                        <div class="col m12">
                            <div class=" col m5 offset-m1 galry-grid">
                                <div class="card">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <a href="/lifestyle/1"> <img width="100%" class="image responsive-img" src="/images/BMP_9617.jpg" alt="">
                                            <div class="agile-text agile-text-small2">
                                                <h4 class="center-align label"> <em> Lifestyles </em> </h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class=" col m5 offset-m1 galry-grid">
                                <div class="card">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <a href="/wedding/1"> <img width="100%" class="image responsive-img" src="/images/brookmatrix photography-116.jpg" alt="">
                                            <div class="agile-text agile-text-small2">
                                                <h4 class="center-align label"> <em> Weddings </em> </h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col m6 offset-m3 s12 center-align galry-grid">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <a href="/beauty/1"><img height="600px" class="activator" src="/images/brookmatrix photography-3.jpg">
                                    <div class="agile-text agile-text-small2">
                                        <h4 class="label">Beauty Shots</h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<%- include('../partials/foot') %>
