<%- include('../partials/head') %>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">

        </div>

        <div class="col s12 m4">

        </div>

        <div class="col s12 m4">

        </div>
      </div>

    </div>
    <br><br>
  </div>
<%- include('../partials/foot') %>
